
# dependencies
node_modules
.pnp
.pnp.js

# expo/eas
.expo
dist
build
*.tar.gz

# turbo
.turbo

# macOS / others
.DS_Store

# env
.env
.env.*
apps/**/.env*
packages/**/.env*
infra/**/.env*

# Cleanup for public repo
*.sql
*.md
!README.md
!**/README.md

# Expo Native Prebuilds
apps/mobile/android/
apps/mobile/ios/
